#mainPageBody {  
    padding: 0px;
    background-color: #ddd;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

body {
    margin: 0px;
}

div.photobook {
    width:50%; /*width of your image*/
    height:100%; /*height of your image*/
    background-image:url('/pics/facephoto.jpg');
    background-repeat: no-repeat;
    float: left;
    margin:0; /* If you want no margin */
    padding:0; /*if your want to padding */
 }
 
.button{
    border-radius: 7px;
    font-style: italic;
    padding: 5px;
    font-size: small;
    border-style: hidden;
    font-weight: 600;
    color: #2b2b63;
    background: linear-gradient(#ffcc80 5%, #ff9900 100%);
    letter-spacing: 1px;
    cursor: pointer;

}

.button:hover{
    background: linear-gradient(#ff9900 5%, #ffcc80 100%);
}

.loginTextBoxes{
	padding: 5px;
    border-style: none;
    border-radius: 5px;
}

#loginBtn
{
	margin-left: 10px;
    margin-right: 2px;
}

.mainHeader {
    position: relative;
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
    align-items: center;
    height: 70px;
	background-color: #2b2b63;
    border-bottom: 5px solid black;
}

.logoName {
    display: inline-block;
    margin-left: 18px;
    text-align: center;
    max-width: 150px;
}

.loginDisp .loginForm{
    display: flex;
    flex-direction: column;
}

/* .loginDisp .loggedInUser {
    display: none;
}

.loggedInDisp .loginForm{
    display: none;
}

.loggedInDisp .loggedInUser{
    display: flex;
} */




.loggedInUser{
    position: absolute;
    color: white;
    right: 8px;
    top: 18px;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    font-family: sans-serif;
    display: flex;
    order: 1;

}

#loginForm{
	margin: 0px;
}

#logo {
    border-radius: 10px;
    display: inline;
    font-style: italic;
    font-weight: bold;
    padding: 15px 15px;
    color: #2b2b63;
    align-items: center;
    background-color: #ff9900;
    letter-spacing: 2px;
}

img {
    vertical-align: middle;
    max-height: 60px;
    max-width: 160px;
}

.loginDisp {
	/* position: absolute; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    right: 20px;
}

.loginErrorMsg {
	display: none;
	float: left;
	height: 0px;
	color: red;
	bottom: -3px;
    font-size: 15px;
    position: relative;
    font-style: italic;
    font-family: sans-serif;
}

.logOut {
    position: absolute;
    display: flex;
    order: 2;
    right: 20px;
    bottom: 0px;
    color: white;
}

/*
########################################################################
Register page
########################################################################
*/

@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

#regBody {
    align-items: center;
    align-self: center;
}

h2{
text-align: center;
font-size: 24px;
color: white;
}

hr{
margin-bottom: 30px;
}

div.container{
height: 50%;
margin:80px;
font-family: 'Droid Serif', serif;
position: relative;
align-content: center;
align-items: center;
align-self: center;
}

div.main{
width: 320px;
float: right;
padding: 10px 55px 40px;
background-color: #2b2b63;
border: 15px solid white;
box-shadow: 0 0 10px;
border-radius: 2px;
font-size: 13px;
}

.regTextBoxes {
width: 97.7%;
height: 34px;
padding-left: 5px;
margin-bottom: 20px;
margin-top: 8px;
box-shadow: 0 0 5px #ff9900;
border: 2px solid #ffcc80;
color: #4f4f4f;
font-size: 16px;
}

label{
color: #b3b3b3;
text-shadow: 0 1px 0 #b3b3b3;
font-size: 14px;
font-weight: bold;
letter-spacing: 1px;

}

#register {
font-size: 20px;
margin-top: 15px;
background: linear-gradient(#ffcc80 5%, #ff9900 100%);
padding: 7px 35px;
font-weight: bold;
border-radius: 10px;
width: 100%;

}

#register:hover{
    background: linear-gradient(#ff9900 5%, #ffcc80 100%);
    }



    /*
    ########################################################################
    projects list 
    ########################################################################
    */

    table {
        table-layout: inherit;
        margin: 10px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", "Segoe Ui";
        font-size: 12px;
        width: 100%;
        border-collapse: collapse;
        
    }

    table td {
        text-align: left;
        transition: all .5s;
        border: 1px solid #ddd;
        padding: 8px;
        max-width:100%;
        white-space: nowrap;

    }

    table tr td:nth-child(1)
    {
        display: flex;
        width: 20%;
    }

    #projects
    {
        margin: 8px;
        overflow-y: auto;
        height: auto;
    }

    #projectsTable
    {
        float: top;
        vertical-align: middle;
        height: 30%;
    }

    .projectsRow
    {
        border: 1px solid rgb(225, 200, 200);
        display: flex;
        float: none;
    }

    .projectsCell
    {
        display: flex;
        float: left;
        margin: 10px;
        padding: 8px;
        max-width: 20%;
        align-content: center;  
        border: 1px solid #ddd;
    }

    .projectDescription
    {
        display: flex;
        float: left;
        margin: 10px;
        padding: 8px;
        max-width: 60%;
        height: 100%;
        border: 1px solid #ddd;

    }

    .projDes
    {
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
        vertical-align: middle;
        text-align: center;
    }

    .projectsImgs
    {
        display: flex;
        width: 100%;
        height: 100%;
    }


